*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 15px;
    background-color: #DADAE5;
    color: #4D4F62;
}

p{
    color: hsl(229,6%,66%);
}

header {
    white-space: nowrap;
}

.top-container {
    text-align: center;
}

.top-container h1 {
    font-size: 2rem;
    font-weight: 200;
    color: hsl(229,6%,66%);
}

.top-container h2 {
    margin-top: 20px;
    font-size: 2rem;
    color: hsl(234, 12%, 34%);
}

.top-container p {
    font-size: 1.2rem;
    white-space: pre-wrap;
    text-align: center;
}

.col {
    position: relative;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin: 18px auto;
    height: 200px;
    padding: 20px;
    width: 350px;
}

.col img {
    position: absolute;
    padding: 15px;
    right: 0;
    bottom: 0;
}

.col h3 {
    font-size: 1.3rem;
    color: hsl(234, 12%, 34%);
}

.col::after {
    content: '';
    position: absolute;
    height: 5px;
    width: 100%;
    top: 0;
    left: 0;
}

#first::after {
    background-color: hsl(0, 78%, 62%);
}

#second::after {
    background-color: hsl(180, 62%, 55%);
}

#third::after {
    background-color: hsl(34, 97%, 64%);
}

#fourth::after {
    background-color: hsl(212, 86%, 64%);
}

@media(min-width:1440px) {
    .container {
        display: flex;
        align-items: center;
    }
    .col {
        margin: 18px;
    }
}